body {
  background: #ffffff;
  overflow-y: hidden;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
/*--------------------------------------------*/
/*HEADER*/
/*--------------------------------------------*/
main {
  position: fixed;
  background: #61d7f2;
  background-size: cover;
  min-width: 600px;
  width: 100vw;
  z-index: 0;
}
main .container {
  position: relative;
  height: 100vh;
  z-index: 150;
}
main h1 {
  top: 0;
  margin: 0;
  position: absolute;
  width: 100vw;
  font-family: "ff-good-headline-web-pro-con", sans-serif;
  font-size: 14vw;
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 1.25em;
  vertical-align: middle;
  color: #e90b02;
  opacity: 0.95;
  min-width: 600px;
  filter: saturate(90%) brightness(120%) contrast(80%);
}
@media (max-width: 800px) {
  main h1 {
    font-size: 112px;
  }
}
@media (max-width: 800px) and (orientation: portrait) {
  main h1 {
    top: 2.5vh;
  }
}
#mech_wrap {
  position: absolute;
  top: 0;
  z-index: 180;
  height: 100vh;
  width: 100vw;
  min-width: 600px;
  filter: saturate(90%) brightness(125%) contrast(85%);
}
#rad_gradient {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  min-width: 600px;
  background: -moz-radial-gradient(ellipse at bottom, #ffffff 20%, rgba(255, 255, 255, 0) 80%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(ellipse at bottom, #ffffff 20%, rgba(255, 255, 255, 0) 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom, #ffffff 20%, rgba(255, 255, 255, 0) 80%);
}
#ray_poly_controller {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  min-width: 600px;
  height: 100vh;
  z-index: 199;
}
#ray_poly_controller polygon {
  fill: #ffffff;
  fill-opacity: 0;
}
#ray_poly {
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  min-width: 600px;
  height: 100vh;
  z-index: 110;
}
#ray_poly polygon {
  fill: #ffffff;
  fill-opacity: 0.4;
}